.container {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgba(27, 27, 27, 0.1);
}

.productImage {
    width: 85px;
}

.productImage img {
    width: 100%;
}

.productInfo {
    flex: 1;
    margin-left: 19px;
}

.productCategory {
    font-weight: 400;
    font-size: 12px;
    color: rgba(27, 27, 27, 0.5);
    display: block;
}

.productName {
    font-weight: 500px;
    font-size: 16px;
    color: #1b1b1b;
    display: block;
    margin-top: 4px;
    margin-bottom: 2px;
}

.productPrice {
    font-weight: 600;
    color: #1b1b1b;
    font-size: 16px;
}