.container {
  background-color: #fff;
}

.header {
  background-color: #f9f9fb;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.headerTopLeft {}

.hraderTopRight {}

.headerMenurBotton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLine {
  background-color: #000;
  height: 2px;
}

.headerTitle {
  font-weight: 500;
  font-size: 24px;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.headerSubtitle {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(151, 151, 151, 0.8);
}

.headerBottom {}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0px 24px 0px 24px;
}