.container {
    background-color: #fff;
    padding: 50px 24px;
}

.statusArea {
    margin-top: 21px;
    border-radius: 4px;
    padding: 27px 23px;
}
.statustitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 19px;
}
.statusPct {
    height: 8px;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 8px;
    margin-bottom: 8px;
}
.statusBar {
    height: inherit;
    border-radius: 8px;
}
.statusMsg {
    font-size: 10px;
    margin-top: 8px;
    font-weight: 400;
    color: rgb(0,0,0,.7);
}

.orderInfoArea {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgb(27, 27, 27, 0.1);
    padding: 15px 0;
}
.orderInfostatus {
    font-size: 11px;
    font-weight: 600;
    padding: 6px 17px;
    border-radius: 4px;
}
.orderInfoQtd {
    font-weight: 400;
    font-size: 16px;
    padding: 0 19px;
    flex: 1;
}
.orderInfoDate {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #b3b3b3;
}

.infoGroup {
    border-top: 1.5px solid rgba(27, 27, 27, 0.1);
    margin-bottom: 40px;
}

.infoTitle {
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
    margin-bottom: 8px;
}

.infoArea {
    padding-top: 24px;
}

.productsQuantity {
    border-top: 1.5px solid rgba(27, 27, 27, .1);
    border-bottom: 1.5px solid rgba(27, 27, 27, .1);
    padding: 19px 0;
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
}

.shippingArea {
    margin-top: 31px;
}

.shippingTitle {
    font-size: 16px;
    font-weight: 400;
    color: #6a7d8b;
    margin-bottom: 16px;
}

.shippingForm {
    display: flex;
    gap: 14px;
}

.shippingInfo {
    background-color: #f9f9fa;
    padding: 24px 32px;
    border-radius: 8px;
    margin-top: 16px;
}

.shippingAddress {
    font-size: 10px;
    color: #6A7D8B;
    font-weight: 400;
}

.shippingTime {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.shippingPrice {
    font-weight: 600;
    color: #1b1b1b;
}

.resumeArea {
    background-color: #f9f9fb;
    border-radius: 8px;
    margin-top: 16px;
    padding: 48px 32px;
}

.resumeItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.resumeLeft {
    font-size: 16px;
    color: #1b1b1b;
    font-weight: 400;
}

.resumeRight {
    font-weight: 500;
    color: #1b1b1b;
}

.resumeBig {
    font-size: 24px;
    font-weight: 600;
    color: #1b1b1b;
}


.resumeLine {
    border-top: 1px dashed #96a3ab;
    margin-bottom: 29px;
}
.resumeBtn {
    margin-top: 40px;
}

.paymentTypes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.paymentBtn {
    flex: 1;
}

.cupomInput {
    display: flex;
    gap: 14px;
}